@import '~bourbon/core/bourbon';
@import '~assets/style/colors';
@import '~sass-flex-mixin/flex';

.header {

  &--h1 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.25;
  }

  &--h2 {
    font-size: 1.7rem;
    font-weight: 600;
  }

  &--h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }

  &--h4 {
    // ...
  }

  &--h5 {
    // ...
  }

  &--h6 {
    // ...
  }
}
